<%-  include("../admin/header") %>

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Category</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
          <li class="breadcrumb-item">Admin Forms</li>
          <li class="breadcrumb-item active">Add category</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add category form</h5>

              <!-- General Form Elements -->
              <form action="/admin/SubCaregory/add_SubCatregoryData" method="post" > 
                
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Category</label>
                  <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example" name="categoryId">
                      <option selected>- - - Select Category - - -</option>
                      <% for(var Data of catData){ %>
                      <option value="<%= Data.id %>"><%= Data.category %></option>
                      <% } %>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label">Subategory name </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="subcategory" placeholder="Enter Subcategory">
                  </div>
                </div>
                
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Submit Button</label>
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit Form</button>
                  </div>
                </div>

              </form><!-- End General Form Elements -->

            </div>
          </div>

        </div>

      </div>
    </section>

  </main><!-- End #main -->
<%-  include("../admin/footer") %>